name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    steps:
      - uses: actions/checkout@v2
      - name: Set Up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - uses: actions/cache@v2
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build
        run: go build -v ./...


  test:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v2
      - name: Set Up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: cache go files
        id: cache-go
        uses: actions/cache@v2
        with:
          # In order:
          # * Module download cache
          # * gotestsum install location
          # * Build cache (Linux)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: cache gotestsum file
        id: cache-gotestsum
        uses: actions/cache@v2
        with:
          # In order:
          # * gotestsum install location
          path: |
            /home/runner/go/bin/gotestsum
          key: ${{ runner.os }}-gotestsum2
          restore-keys: |
            ${{ runner.os }}-gotestsum2
      - name: Install GoTestSum
        if: steps.cache-gotestsum.outputs.cache-hit != 'true'
        run: go get gotest.tools/gotestsum
      - name: Start Database docker
        run: docker-compose up -d
      - name: Run Tests
        run: /home/runner/go/bin/gotestsum --junitfile unit-tests.xml -- -v -cover -coverprofile=cover.out ./...
      - name: Generate HTML with coverage
        run: go tool cover -html=cover.out -o cover.html
      - uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: coverage.html
      - name: report tests and coverage
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GITHUB_REPOSITORY: ${{github.repository}}
        run: |
          python3 findAndComment.py >> comment.json
          curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X POST -d @comment.json \
          https://api.github.com/repos/${GITHUB_REPOSITORY}/issues/${PR_NUMBER}/comments


#      - name: Test
#  run: go test -v -cover -coverprofile cover.out ./...

  golangci:
    name: lint
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    steps:
      - uses: actions/checkout@v2
      - name: Set Up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.29

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments.
          args: --issues-exit-code=0

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true

          # Optional: if set to true then the action will use pre-installed Go.
          skip-go-installation: true

          # Optional: if set to true then the action don't cache or restore ~/go/pkg.
          # skip-pkg-cache: true

          # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
          # skip-build-cache: true

  slackNotifiactions:
    name: slackNotifiactions
    runs-on: ubuntu-latest
    needs: [golangci, test, build]
    if: failure()
    steps:
      - name: parse jobs results
        run: |
          touch results.txt
          if [[ "${{ needs.golangci.outputs.status }}" != "success" ]]; then
            sed -i '$ s/$/ Linter /' results.txt; fi;
          if [[ "${{ needs.test.outputs.status }}" != "success" ]]; then
            sed -i '$ s/$/ Testing /' results.txt; fi;
          if [[ "${{ needs.build.outputs.status }}" != "success" ]]; then
            sed -i '$ s/$/ Build /' results.txt; fi;
      - name: show file
        run : cat results.txt
      - name: make message
        run: |
          export TYPE=$(echo results.txt)
          export PR_NUMBER=$(echo $GITHUB_REF | awk 'BEGIN { FS = "/" } ; { print $3 }')
          cat << "EOF" >> message.json
          {
            "blocks": [
              {
                "type": "header",
                "text": {
                  "type": "plain_text",
                  "text": "Workflow has failed",
                  "emoji": true
                }
              },
              {
                "type": "section",
                "fields": [
                  {
                    "type": "mrkdwn",
                    "text": "*Type:*\n $TYPE"
                  },
                  {
                    "type": "mrkdwn",
                    "text": "*Started by:*\n ${{ github.actor }}"
                  }
                ]
              },
              {
                "type": "section",
                "fields": [
                  {
                    "type": "mrkdwn",
                    "text": "*Pull Request:*\n <https://github.com/DanielLipniacki/TestingGOCi/pull/$PR_NUMBER|${{ github.event.pull_request.title }}>"
                  }
                ]
              },
              {
                "type": "actions",
                "elements": [
                  {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "Take me to checks"
                    },
                    "url": "https://github.com/DanielLipniacki/TestingGOCi/pull/$PR_NUMBER/checks"
                  },
                  {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "Take me to pull request"
                    },
                    "url": "https://github.com/DanielLipniacki/TestingGOCi/pull/$PR_NUMBER"
                  }
                ]
              }
            ]
          }
          EOF